.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  
.donationText {
  margin: 0 0 1.5rem;
  line-height: 1.6;
  text-align: center;
}
  
  .donateButton {
    background-color: #881c1c;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.75rem 2rem;
    transition: all 0.3s ease;
  }
  
  .donateButton:hover {
    background-color: #6e0e0e;
    transform: translateY(-2px);
  }
